.fileContainer{
    border: solid black 1px;
}

.fileContainer{
    width: 78px;
    padding: 5px;
    cursor: pointer;
}
.fileIcon{
    width: 78px;
}
.fileName{
    text-align: center;
}
#fileList{
    display: flex;
}

.contextual-menu-list{
    list-style-type:none;
    text-align: center;
}

.contextual-menu{
    position: absolute;
    border: solid 2px black;
    width: 150px;
    display: none;
    top: 0px;

}